//colors
$primaryGreen : #2da8c9;//rgb(45, 168, 201);

//main nav colors
$pageNavNormal : #fff;//rgba(245, 245, 245, 1);//light Gray

//others
$darkGray : #ccc;
$darkerGray : #bfbfbf;//use for active steps circle
$lightGray : #ebebeb;

//font
//font-family: 'Open Sans', sans-serif;
//font-family: 'Sorts Mill Goudy', serif;
$primaryfontSansSerif : 'Open Sans', sans-serif;
$secondaryfontSerif : 'Sorts Mill Goudy', serif;

//COLORS:
//Header: #2da8c9; //skyblue
//circle 1,2,3: #cccccc;
//nav link: #fff;
//form-bg and input bg: #ebebeb;/dark gray
//footer bg: #cccccc;