
@mixin verticalCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}


// Mixin that allows to specify arbitrary CSS properties with
// unitless numbers. The output has rem unit with pixel fallback.
// Shorthand assignments are supported too!
$base_line: 10;

@mixin rem($property, $values)
{
  // Placeholder variables
  $shorthand_px:  "";
  $shorthand_rem: "";

  // Parameter $values might be a list of elements
  @each $value in $values
  {
    // Current value is a valid number and greater than 0
    @if $value != auto and $value != 0
    {
      // Add 'px' and 'rm' to the current value and store in
      // placeholder variables
      $shorthand_px: #{ $shorthand_px + " " + $value * $base_line + px };
      $shorthand_rem: #{ $shorthand_rem + " " + $value + rem };
    }
    // Current value is 'auto' or 0
    @else
    {
      // Add only 'auto' or 0 to the placeholder variables
      $shorthand_px: #{ $shorthand_px + " " + $value };
      $shorthand_rem: #{ $shorthand_rem + " " + $value };
    }
  }

  // Output the CSS property in pixels and rems
  #{$property}:$shorthand_px;
  #{$property}:$shorthand_rem;
}
// /* //example
//  body
//  {
//    @include rem(font-size, $bodyFontSize);
//    @include rem(padding, 0 $bodyFontSize);
//  }
//
//.wrapper
//{
// @include rem(margin, 0 auto $bodyFontSize);
//}
// */
//
///* //output
//body
//{
//  font-size:16px;
//  font-size:1.6rem;
//
//  padding:0 16px;
//  padding:0 1.6rem;
//}

//.wrapper
//{
//  margin:0 auto 16px;
//  margin:0 auto 1.6rem;
//}
//*/

