
#vivamus-form-about {
	> article {
		background-color: $lightGray;
		padding: .5em;
		-webkit-border-radius: 1em;;
		-moz-border-radius: 1em;;
		border-radius: 1em;;
		margin-bottom: 2.5em;

		@media (min-width: $screen-sm-min) {//768px
				padding: 1.5em 1.5em 3em 1.5em;
			}

		> h3 {
	    	color: $primaryGreen !important;
	    }


		
			ul {
			    padding-left: 0;
					list-style: none;

				li {

					float: left;
					height: 50px;
					
					a {
						text-decoration: none;
					    text-align: center;
					    display: block;
					    font-size: .8em;
					    line-height: 50px;
					    font-weight: 300;
						color: $primaryGreen;;

						@media (min-width: 600px) {
							font-size: 2em;
							font-weight: 700;
							}
					}

					&.active {
						background-color: $primaryGreen;
							
						a {
							color: #fff;
						}
					}

					&:first-of-type {
						border-top-left-radius: 1em;
					}
					
				}
			}
		

		> section {
			background-color: #fff;
			margin-left: .5em;
			margin-right: .5em;
			-webkit-border-radius: 1em;
			-moz-border-radius: 1em;
			border-radius: 1em;

			@media (min-width: $screen-sm-min) {//768px
    			margin-left: 2em;
				margin-right: 2em;
				}

			.form-wrapper {
				padding: .5em;

				@media (min-width: $screen-sm-min) {//768px
	    			padding: 2em;
					}

			}//.form-wrapper 
		}


	}//article

	> .submit-back,
	> .submit-proceed {
			width: 40%;
			color: #fff;
		    background-color: $primaryGreen;
		    background-image: none;
		    border: 1px solid #fff;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
		     height: 60px;
		    font-size: 1.3em;
		    font-weight: 500;

		    @media (min-width: 600px) {
				font-size: 2em;
				font-weight: 700;
				}
	}
	> .submit-back {
		float: leff;
	}
	> .submit-proceed {
	 float: right;
	}
}//form