
#vivamus-form-comment {
	#comments {
		margin-top: .5em;
    	margin-bottom: 1.5em;
	}

	.form-group {
		.checkbox {
			position: relative;

			input[type="checkbox"]:not(:checked), 
			input[type="checkbox"]:checked {
				
				position: absolute;
	    		left: -9999px;
    		}

			input[type="checkbox"]:not(:checked) + label,
			input[type="checkbox"]:checked + label {
			  position: relative;
			  padding-left: 35px;
			  cursor: pointer;
			}    		

    		label {
    		    color: $primaryGreen;
			    font-weight: 300;
			    letter-spacing: .04em;
			    top: -4px;
    		}



			/* checkbox aspect */
			input[type="checkbox"]:not(:checked) + label:before,
			input[type="checkbox"]:checked + label:before {
			  content: '';
			  position: absolute;
			  left:0; 
			  top: 0;
    width: 25px;
    height: 25px;
			  font-size: 14px;
			  border: 1px solid $primaryGreen;
			  background: transparent;
			  -moz-border-radius: 5px;
			   -webkit-border-radius: 5px;
			   border-radius: 5px;
			  box-shadow: none;
			}
			/* checked mark aspect */
			input[type="checkbox"]:not(:checked) + label:after,
			input[type="checkbox"]:checked + label:after {
    content: ' ';
    position: absolute;
    top: -3px;
    left: -2px;
    width: 25px;
    height: 25px;
    /* line-height: 9px; */
    /* font-family: sans-serif; */
    /* font-size: 8px; */
    /* font-weight: 600; */
    /* margin-top: 4px; */
    /* color: red; */
    box-shadow: none;
    background-image: url(../img/check-blk.png);
    background-size: 32px;
    background-repeat: no-repeat;
			}
			/* checked mark aspect changes */
			input[type="checkbox"]:not(:checked) + label:after {
			  opacity: 0;
			  transform: scale(0);
			}
			input[type="checkbox"]:checked + label:after {
				opacity: 1;
				transform: scale(1);

				/* tick mark rotate */
				-webkit-transform: rotate(360deg);
				-moz-transform: rotate(360deg);
				-o-transform: rotate(360deg);
				-ms-transform: rotate(360deg);
				writing-mode: lr-tb;
			}
			/* disabled checkbox */
			input[type="checkbox"]:disabled:not(:checked) + label:before,
			input[type="checkbox"]:disabled:checked + label:before {
			  box-shadow: none;
			  border-color: #999999;
			  background-color: #ddd;


			}
			input[type="checkbox"]:disabled:checked + label:after {
			  color: #999;
			}
			input[type="checkbox"]:disabled + label {
			  color: #aaa;
			}
			/* accessibility */
			input[type="checkbox"]:checked:focus + label:before,
			input[type="checkbox"]:not(:checked):focus + label:before {
			  content: '';
			  position: absolute;
			  left:0; 
			  top: 0;
		width: 25px;
	    height: 25px;
			  
			  border: 1px solid $primaryGreen;
			  background: transparent;
			  -moz-border-radius: 5px;
			    -webkit-border-radius: 5px;
			    border-radius: 5px;
			  box-shadow: none;
			}
			.checkbox label {
				color:  rgba(255,255,255, .7);
				font-family: 'Roboto', sans-serif;
				font-weight: 300;
				letter-spacing: .04em;	
				top: -4px;
				position: absolute;
			}
   

		}
	}
}//form

