body {

	> header {
		nav {
			margin-top: 1.5em;
			
			 .nav {
				  padding-left: 0;
				  margin-bottom: 0;
				  list-style: none;
				 

					> li {
						  position: relative;
						  display: block;
						 
					    	@media (min-width: $screen-sm-min) {//768px
					    		border-right: 2px solid $pageNavNormal;
							}

						  &:last-child {
						  	border-right: 0;
						  }

						> a {
						  @include rem(font-size, 2.6);
						  letter-spacing: 1px;
						  position: relative;
						  display: block;
						  padding: 10px 15px;

						  //color
						  color: $pageNavNormal;
						  text-decoration: none;
						  font-family: $secondaryfontSerif;

						}

						> a:hover,
						> a:focus {
						    text-decoration: none;
						    background-color: #fff;
						    color: #2da8c9;
						}

					}//li

				}//nav


				.navbar-nav {
					margin: 7.5px -15px;

					@media (min-width: 768px) {
					    float: left;
					    margin: 0;


						  > li {
						    float: left;
						  }
						 > li > a {
						    padding-top: 5px;
						    padding-bottom: 4px;
						    height: 3rem;
						  }		
					  }//@media

					> li > a {

					}		

			}//navbar-nav
		}//nav

	}//header
}//body